* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("./img/htmlback.jpg");
  background-position: center;
  background-size: cover;
}

body {
  background-image: url("./img/instructions.jpg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-y: 75px;
  background-position-x: 300px;
}

button {
  margin-top: 505px;
  margin-left: 570px;
  width: 140px;
  height: 60px;

  border: 2px groove whitesmoke;
  border-radius: 5%;
  font-weight: bold;
  text-decoration: brown;
  background-color: rgb(37, 35, 34);
}

a {
  font-weight: bold;
  color: rgb(238, 18, 62);
  background-color: rgb(37, 35, 34);
  text-align: center;
  text-shadow: 1px black;
  font-size: 30px;
  text-decoration: none;
}
